
/*
font-family: 'Inter', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/


/* root
=====================*/

:root {
    --fs-default: 16rem;
    --fs-1: 64rem;
    --fs-2: 32rem;
    --fs-3: 24rem;
    --fs-4: 22rem;
    --fs-5: 18rem;
    --fs-6: 16rem;
    --fs-7: 14rem;
    --fs-8: 12rem;

    --gap: 40rem;
    --gap-: -40rem;

    --offset: 10rem;
    --offset-: -10rem;

    --color-white: #fff;
    --color-gray: #CDCDCD;
    --color-black: #0B0B0B;
    --color-accent: #35CA37;
    --color-white-dark: #F2F2F2;
    --color-dark-gray: #636363;
}

/* normalize
=====================*/

*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
html{-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;-moz-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bold}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:0.1rem dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* basic
=====================*/

html,
body {
    height: 100%;
}

html {
    font-size: 1px;
}

body {
    font-style: normal;
    background: var(--color-white);
    font-weight: normal;
    font-size: var(--fs-default);
    line-height: 1.6;
    font-family: 'EuclidSquare', sans-serif;
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  height: 12px;
  width: 10rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #808080;
  width: 10rem;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  width: 10rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  width: 10rem;
}

a {
    color: var(--black, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: inherit;
    font-family: EuclidSquare;
    font-size: 16rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
}

input,
button,
select,
textarea,
.btn {
    font-weight: normal;
    font-family: 'EuclidSquare', sans-serif;
    color: inherit;
}

input,
button {
    margin: 0;
    padding: 0;
    appearance: none;
}

svg,
.u-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    color: inherit;
}

picture,
time {
    display: block;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

/* typography
=====================*/

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.title-size-1,
.title-size-2,
.title-size-3,
.title-size-4,
.title-size-5,
.title-size-6 {
    font-family: 'EuclidSquare', sans-serif;
    margin: 0;
    font-weight: normal;
    color: var(--color-black);
}

h1,
.title-size-1 {
    font-size: var(--fs-1);
    line-height: 112.3%;
}

h2,
.title-size-2 {
    font-size: var(--fs-2);
    line-height: 1.4;
}

h3,
.title-size-3 {
    font-size: var(--fs-3);
}

h4,
.title-size-4 {
    font-size: var(--fs-4);
}

h5,
.title-size-5 {
    font-size: var(--fs-5);
}

h6,
.title-size-6 {
    font-size: var(--fs-6);
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    width: 1px!important;
    height: 1px!important;
    margin: -1px!important;
    padding: 0!important;
    position: absolute!important;
    border: 0!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    overflow: hidden!important;
}

/* row
=====================*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0  var(--offset-);
}

.row__col {
    min-height: 1px;
    padding: 0 var(--offset);
}

.row__col--3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.row__col--4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.row__col--5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}

.row__col--6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.row__col--7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
}

.row__col--8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}

.row__col--9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.row__col--10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
}

.row__col--11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
}

.row__col--12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* components
=====================*/

#site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.site__main {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1440rem;
    margin: 0 auto;
    padding: 0 var(--gap);
}

.logo {
    display: block;
    z-index: 1000;
    position: relative;
    height: 25rem;
    width: 25rem;
    transition: all .4s;
}

.logo:hover {
    opacity: .7;
}

.logo__img--desctop {
}

.logo__img--mobile {
    display: none !important;
}

.logo__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.img-cover {
    position: relative;
    width: 100%;
}

.img-cover > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    display: block;
    margin: 0;
    padding: 0;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    position: relative;
}

.nav__item:not(:last-child) {
    margin-right: 64rem;
}

.nav__link {
    display: inline-block;
    font-size: var(--fs-7);
    color: var(--color-black);
    font-family: inherit;
    position: relative;
    cursor: pointer;
    transition: color .4s;
}

.nav__link:after {
    content: '';
    position: absolute;
    top: -10rem;
    bottom: -10rem;
    right: -10rem;
    left: -10rem;
}

.btn {
    background-color: transparent;
    display: inline-block;
    padding: 16rem 32rem 15rem;
    border-radius: 100rem;
    line-height: 114.286%;
    font-size: var(--fs-7);
    transition: all .4s;
    outline: none;
    backdrop-filter: blur(10px);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn--theme_default {
    color: var(--color-white);
    background: var(--color-accent);
}

.btn--theme_default:hover {
    color: var(--color-black);
}

.btn--theme_black-share {
    padding: 20rem 198rem 20rem 28rem;
    border: 1rem solid;
    background-color: var(--color-white-dark);
    border-color: var(--color-gray);
}

.btn--theme_black-share:hover:after {
    transform: translateY(0%);
    top: 0;
    right: 0;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    border-radius: 80rem;
}

.btn--theme_black-share:hover {
    border-color: transparent;
}

.btn--theme_black-share:hover .btn__title {
    color: var(--color-white);
}

.btn--theme_black-share:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 48rem;
    height: 48rem;
    right: 8px;
    z-index: -1;
    background-color: var(--color-black);
    border-radius: 50%;
    transition: all .4s;
}

.btn__inner {
    display: flex;
    align-items: center;
}

.btn__title {
    font-size: var(--fs-default);
    color: var(--color-black);
    line-height: 1.5;
    letter-spacing: -0.32px;
    position: relative;
    z-index: 2;
}

.btn__icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 26rem;
    width: 10rem;
    height: 8rem;
    fill: var(--color-white);
    z-index: 3;
}

.paralax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.paralax__picture {
}

.paralax__picture--bg {
}

.paralax__bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateZ(0);
  object-fit: cover;
}

.paralax__bg-img--one {
  z-index: 1;
}

.paralax__bg-img--two {
  z-index: 2;
}

.slider-control {
    display: flex;
    align-items: center;
}

.slider-control__wrap {
    display: flex;
    align-items: center;
    margin-right: 25rem;
}

.slider-control__wrap .slider-btn:not(:last-child) {
    margin-right: 5rem;
}

.slick-arrow {
}

.slider-btn {
    background-color: var(--color-white-dark);
    border: 1rem solid var(--color-gray);
    width: 48rem;
    height: 48rem;
    position: relative;
    outline: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
    position: relative;
    transition: all .4s;
    backdrop-filter: blur(10px);
}

.slider-btn:hover {
    border-color: transparent;
}

.slider-btn:hover:after {
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    height: calc(100% + 2rem);
    width: calc(100% + 2rem);
    background-color: var(--color-black);
}

.slider-btn:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    transition: all .4s;
    border-radius: 50%;
    z-index: -1;
}

.slider-btn:hover .slider-btn__icon,
.slider-btn:hover .slider-btn__icon-mb {
    fill: var(--color-white);
}

.slick-prev {
}

.slider-control__btn {
    background-color: var(--color-white-dark);
    border: 1rem solid var(--color-gray);
    width: 48rem;
    height: 48rem;
    position: relative;
    outline: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
    position: relative;
    transition: all .4s;
    backdrop-filter: blur(10px);
}

.slider-btn__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.slider-btn__icon-mb {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 8rem;
    transform: translate(-50%, -50%) rotate(0);
    fill: var(--color-black);
    z-index: 2;
    transition: all .4s;
}

.slider-btn__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 8rem;
    transform: translate(-50%, -50%) rotate(0);
    fill: var(--color-black);
    z-index: 2;
    transition: all .4s;
}

.slick-prev .slider-btn__icon,
.slick-prev .slider-btn__icon-mb {
    transform: translate(-50%, -50%) rotate(180deg);
}

.slick-next {
}

.js-intro-slider-dots {
}

.slider-dots {
}

.slider-control__dots {
}

.slick-slider {
    overflow: hidden;
}

.slick-slider .slick-track {
    display: flex;
    min-height: 1;
    margin: 0 -10rem;
}

.slick-slide {
    padding: 0 10rem;
}

.card {
    padding: 24rem 24rem 24rem 40rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 446rem;
    overflow: hidden;
    border-radius: 12rem;
    z-index: 0;
}

.card:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 136rem;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(11, 11, 11, 0.00) 0%, #0B0B0B 99.19%);
}

.slick-slider__card {
}

.card__picture {
}

.card__img {
}

.card__link {
    margin: 0 0 12rem 0;
    padding: 0;
    display: inline-block;
    color: var(--color-white);
}

.card__link:hover {
    transform: none;
}

.card__link:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__subtitle {
    margin: 0;
    padding: 0;
    color: var(--color-white-dark);
    opacity: .6;
}

.picture-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.picture-cover > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  background-color: #999;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  z-index: 0;
}

.slick-dots li:not(:last-child) {
    margin-right: 2rem;
}

li.slick-active .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-black);
  z-index: 5;
  position: relative;
  display: block;
}

.text-accent {
    color: var(--color-accent);
}

/* header
=====================*/

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10rem 0;
    background-color: var(--color-white);
    z-index: 100;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
}

.header__nav {
}

.header__btn {
}


/* intro-section
=====================*/

.intro-section {
    padding: 26rem 0 611rem;
    position: relative;
    overflow: hidden;
}

.intro-section__container {
}

.intro-section__picture {
    height: 265rem;
    margin-bottom: 24rem;
}

.intro-section__img {
    object-fit: contain;
}

.intro-section__row {
    justify-content: space-between;
    margin-bottom: 50rem;
}

.intro-section__col {
}

.intro-section__title {
    font-size: var(--fs-2);
    line-height: 1.25;
    letter-spacing: -1.92rem;
}

.intro-section__text {
    margin: 0;
    padding: 0;
    font-size: 16rem;
    line-height: 1.5;
    letter-spacing: -.32rem;
}

.intro-section__btn {
}

.intro-section__paralax {
}

/* automated-section
=====================*/

.automated-section {
    padding: 164rem 0 114rem;
}

.automated-section__container {
}

.automated-section__row {
}

.automated-section__col {
}

.automated-section__content {
}

.automated-section__title {
    font-size: var(--fs-2);
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -1.92rem;
}

.automated-section__title--mb {
    display: none;
}

.js-intro-slider-control {
}

.automated-section__slider-control {
    margin-top: 277rem;
}

/* app-section
=====================*/

.app-section {
    padding: 208rem 0 0;
    background-color: var(--color-black);
}

.app-section__container {}

.app-section__title-wrap {
}

.app-section__row {
    justify-content: space-between;
}

.app-section__small-text {
    display: inline-block;
    font-size: 16rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    letter-spacing: -0.32px;
    margin-right: 138rem;
}

.app-section__title {
    color: var(--color-white);
    display: inline-block;
    font-size: 80rem;
    line-height: .9;
    letter-spacing: -5.6rem;
}

.app-section__subtitle {
    display: inline-block;
    font-size: 80rem;
    line-height: .9;
    letter-spacing: -5.6rem;
    color: var(--color-dark-gray);
    margin-bottom: 84rem;
}

.app-section__list-content {
    max-width: 440rem;
}

.app-section__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

.app-section__item {}

.app-section__item:not(:last-child) {
    margin-right: 20rem;
}

.app-section__link {
    display: inline-block;
    text-align: center;
    font-size: 0;
    line-height: normal;
    width: 32rem;
    height: 32rem;
    cursor: pointer;
}

.app-section__icon {

}

.app-section__list-desription {
    color: var(--color-dark-gray);
    font-size: 16rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.32px;
}

.iphone-container {
    position: relative;
    height: 762rem;
}

.app-section__iphone-container {}

.iphone-container__picture {
    display: block;
    text-align: center;
    width: 670rem;
    z-index: 1;
}

.iphone-container__img-bg {}

.iphone-content {}

.iphone-container__content {
    top: 94rem;
    right: 139rem;
    position: absolute;
    width: 250rem;
    height: 540rem;
    background-color: var(--color-white);
    z-index: 3;
    overflow: hidden;
    border-radius: 29rem;
    padding: 28rem 12rem 0;
}

.iphone-content__suptitle {
    font-family: 'Inter', sans-serif;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
    margin: 0;
    padding: 0;
}

.iphone-content__wrap {
    margin: 0 0 10rem 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iphone-content__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.iphone-content__chips {
    border-radius: 12rem;
    border: 1rem solid #EDEDED;
    background: var(--color-White);
    padding: 3rem 7rem;
}

.iphone-content__chips-inner {
    display: inline-flex;
    align-items: center;
}

.iphone-content__chips-icon {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    margin-right: 4rem;
    line-height: 160%;
}

.iphone-content__chips-title {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.iphone-content__wrap-btn {
    padding: 3rem;
    display: flex;
    align-items: center;
    border: 1rem solid #EDEDED;
    border-radius: 12rem;
    margin-bottom: 12rem;
}

.iphone-content__switch-btn {
    text-align: center;
    font-family: Noto Sans;
    font-size: 10rem;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
}

.iphone-content__switch-btn:not(:last-child) {
    margin-right: 33rem;
    margin-left: 33rem;
}

.iphone-content__switch-btn--theme_dark {
    color: var(--color-white);
    padding: 6rem 25rem;
    background-color: var(--color-dark-gray);
    border-radius: 12rem;
}

.iphone-content__list {
    display: flex;
    align-items: center;
    margin-bottom: 14rem;
}

.iphone-content__item {
}

.iphone-content__item:not(:last-child) {
    margin-right: 8rem;
}

.iphone-content__card {
    position: relative;
    height: 117rem;
    width: 191rem;
    border-radius: 12rem;
    overflow: hidden;
}

.iphone-content__card-picture {
    z-index: 2;
}

.iphone-content__card-img {}

.iphone-content__card-title {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114.286%;
    letter-spacing: -0.28rem;
    padding: 12rem 51rem 12rem 12rem;
    color: var(--color-white);
    z-index: 4;
    position: relative;
}

.iphone-content__title-new {
    margin: 0 0 14rem 0;
    font-family: 'Inter', sans-serif;
    font-size: 14rem;
    font-style: normal;
    font-weight: 500;
    line-height: 114.286%;
    letter-spacing: -0.28rem;
}

.iphone-list-new {
    display: flex;
    align-items: center;
}

.iphone-list-new__item {}

.iphone-list-new__item:not(:last-child) {
    margin-right: 8rem;
}

.iphone-list-new__card {
    width: 108rem;
}

.iphone-list-new__card-picture {
    display: block;
    z-index: 4;
    height: 108rem;
    margin: 0 0 10rem 0;
}

.iphone-list-new__card-img {
    display: block;
    width: 100%;
    height: 100%;
}

.iphone-list-new__switch-title {
    margin: 0 0 4rem 0;
    color: var(--color-black);
    font-family: 'Inter', sans-serif;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%;
}

.switch-list {
    display: flex;
    align-items: center;
}

.iphone-list-new__switch-list {
}

.switch-list__item {
    width: 16rem;
    height: 16rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1rem solid var(--color-accent);
    display: inline-flex;
    align-items: center;
}

.switch-list__item:not(:last-child) {
    margin-right: 4rem;
}

.switch-list__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.switch-list__title {
    color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    vertical-align: middle;
}

.iphone-content__menu-iphone {
    width: 250rem;
    height: 56rem;
    margin: 0 -12rem;
    position: relative;
}

.iphone-content__menu-iphone-picture {
}

.iphone-content__menu-iphone-img {
}

.app-section-content {
}

.app-section__content {
}

.app-section-content__title {
    color: var(--color-white);
    font-size: 20куь;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.6px;
    margin: 0 0 28rem 0;
}

.app-section-content__subtitle {
    color: var(--color-dark-gray);
    font-size: 16rem;
    font-style: normal;
    font-weight: 400;
    line-height:  150%;
    letter-spacing: -0.32px;
    margin-bottom: 128rem;
}
.app-section-content__subtitle .text-accent {
    font-size: 16rem;
    font-style: normal;
    font-weight: 400;
    line-height:  150%;
    letter-spacing: -0.32px;
}

.app-section-content-menu {
}

.app-section-content__menu {
}

.app-section-content-menu__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-section-content-menu__wrap:not(:last-child) {
    margin-bottom: 32rem;
}

.app-section-content-menu__wrap > *:not(:last-child) {
    margin-right: 10rem;
}

.app-section-content-menu__title {
    color: var(--color-dark-gray);
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 183.333%;
    letter-spacing: -0.12px;
    text-transform: uppercase;
}

.app-btn-list {
    display: flex;
    align-items: center;
    max-width: 196rem;
}

.app-section-content-menu__btn-list {
}

.app-btn-list__btn {
    height: 42rem;
    display: inline-block;
    border: 1rem solid transparent;
    padding: 14rem 24rem 12rem;
    border-radius: 28rem;
    font-size: 12rem;
    font-style: normal;
    font-weight: 500;
    line-height: 133.3333%;
    letter-spacing: -0.12px;
    cursor: pointer;
    outline: none;
    font-family: inherit;
}

.app-btn-list__btn:not(:last-child) {
    margin-right: 4rem;
}

.app-btn-list__btn--theme_white {
    color: var(--color-black);
    border-color: rgba(221,221,221,.2);
    background-color: var(--color-gray);

}

.app-btn-list__btn--theme_dark {
    color: var(--color-white);
    border-color: rgba(221,221,221,.2);
    background-color: var(--color-black);
}

.app-btn-list__btn--icon {
    padding: 12rem 38rem;
}

.app-section-content-menu__select-container {}

.select-container {
    position: relative;
}
.select-container__select {}

.select__icon {}

.select {
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 30rem;
    cursor: pointer;
    border: 1rem solid rgba(221,221,221,.2);
    padding: 12rem 50rem 12rem 50rem;
    background-color: var(--color-black);
    color: var(--color-gray);
    font-weight: 500;
    line-height: 133.333%;
    letter-spacing: -0.12rem;
    width: 196rem;
}

.select option {
    font-size: inherit;
    background-color: var(--color-black);
    color: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 30rem;
    cursor: pointer;
    border: 1rem solid rgba(221,221,221,.2);
    padding: 12rem 78rem 12rem 75rem;
    background-color: var(--color-black);
    color: var(--color-gray);
    font-weight: 500;
    line-height: 133.333%;
    letter-spacing: -0.12rem;
}


.select__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 7rem;
    height: 5rem;
}

.app-select-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 196rem;
}

.app-section-content-menu__select-list {}

.app-select-list__item:not(:last-child) {
    margin-right: 8rem;
}

.color-picker {
    position: relative;
}

.color-picker input {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 0;

}

.color-picker input:checked + .color-picker input:afterr {
    opacity: 1;
}

.app-select-list__color-picker {}

.color-picker__lable {
    display: block;
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    position: relative;
}

.color-picker input:after {
    background-color: transparent;
    border: 2rem solid var(--color-accent);
    content: '';
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
}

.app-slider-container {
    position: relative;
    z-index: 0;
    height: 42rem;
}

.app-section-content-menu__slider-container {}

.app-slider-container__input {
    border: 1rem solid rgba(221,221,221,.2);
    border-radius: 44rem;
    height: 42rem;
    width: 196rem;
    position: relative;
    background-color: var(--color-black);
}

.app-slider-container__lable {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12rem;
    text-align: right;
    font-family: Euclid Square;
    font-size: 12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 133.333%;
    letter-spacing: -0.12rem;
    z-index: 10;
    color: var(--color-gray);
}

.slider-container {
  width: 50%;
}
.app-slider-container__input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}

.app-slider-container__input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-left: -25rem;
  appearance: none;
  width: 135rem;
  height: 32rem;
  border-radius: 44rem;
  background: var(--color-dark-gray);
  cursor: pointer;
  z-index: 20;
  transition: background 0.3s ease;
}

.app-slider-container__input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  margin-left: -25rem;
  appearance: none;
  width: 196rem;
  height: 32rem;
  border-radius: 44rem;
  background: var(--color-dark-gray);
  cursor: pointer;
  z-index: 20;
  transition: background 0.3s ease;
}

.app-slider-container__input.input-active[type="range"]::-webkit-slider-thumb {
  width: 196rem;
  margin-left: 0;
}

/* footer
=====================*/

.footer {
    padding: 72rem 0 40rem;
    background-color: var(--color-black);
}

.footer__container {
}

.footer__row {
}

.footer__col {
}

.footer-content {
}

.footer__content {
}

.footer-content__title {
    max-width: 325rem;
    color: var(--color-white);
    font-size: 32rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -1.92rem;
    margin-bottom: 48rem;
}

.form {
    width: 325rem;
    display: flex;
    flex-direction: column;
}

.footer-content__form {
    border-bottom: 1rem solid rgba(205,205,205,.20);
    padding-bottom: 64rem;
}

.footer-content__form > .form__input:not(:last-child) {
    margin-bottom: 16rem;
}

.form__input {
    width: 100%;
    outline: none;
    border: 1rem solid rgba(205,205,205,.20);
    font-size: 12rem;
    background-color: transparent;
    padding: 16rem 20rem;
    border-radius: 12rem;
    color: var(--color-dark-gray);
}

.form__input:placeholder {
    font-size: 12rem;
}

.footer-content__btn {
    display: inline-block;
}


.footer-content__btn {
    text-align: center;
    height: 48rem;
    width: 110rem;
    display: inline-block;
    border: 1rem solid transparent;
    padding: 14rem 19rem 12rem 18rem;
    border-radius: 28rem;
    font-size: 14rem;
    font-style: normal;
    font-weight: 400;
    line-height: 133.3333%;
    letter-spacing: -0.12px;
    cursor: pointer;
    outline: none;
    font-family: inherit;
}

.footer-contact {
    padding: 24rem 0 0 0;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 164rem;
}

.footer__contact >*:not(:last-child) {
    margin-bottom: 40rem;
}

.footer-contact__link {
    display: inline-block;
    cursor: pointer;
    color: inherit;
}

.footer-contact__link:hover .footer-contact__link-title {
    color: var(--color-accent);
}

.footer-contact__inner {
    display: flex;
    align-items: center;
}

.footer-contact__inner > *:not(:last-child) {
    margin-right: 12rem;
}

.footer-contact__link-icon {
    background-color: #2B2B2B;
    display: inline-block;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.footer-contact__icon {
    width: 22rem;
    height: 22rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.footer-contact__title {
    display: inline-block;
    margin: 0 38rem 0 0 !important;
    padding: 0;
    font-size: 14rem;
    font-style: normal;
    font-weight: 400;
    line-height: 16rem;
}

.footer-contact__link-title {
    color: #EDEDED;
    font-family: 'Inter', sans-serif;
    font-size: 12rem;
    font-style: normal;
    font-weight: 500;
    line-height: 133.333%;
    text-decoration-line: underline;
    text-transform: uppercase;
    transition: all .4s;
}

.footer__copyright {
    padding: 0;
    margin: 0;
    color: var(--color-dark-gray);
    font-size: 14rem;
    font-style: normal;
    font-weight: 400;
    line-height: 114.286%;
}

.footer__col {}

.footer__media {
    position: relative;
    height: 982rem;
}

.footer__picture {
    z-index: 1;
}

.footer__img {}

.footer__img--forvard {
    z-index: 3;
    width: 630rem;
    height: 800rem;
    top: 137rem;
    left: 40rem;
}

.footer__img--back {
    z-index: 2;
    width: 754rem;
    height: 690rem;
    top: 18rem;
    left: 93rem;
}
