
/* root
=====================*/

:root {
    --fs-default: 16rem;
    --fs-1: 64rem;
    --fs-2: 32rem;
    --fs-3: 24rem;
    --fs-4: 22rem;
    --fs-5: 18rem;
    --fs-6: 16rem;
    --fs-7: 14rem;
    --fs-8: 12rem;

    --gap: 40rem;
    --gap-: -40rem;

    --offset: 10rem;
    --offset-: -10rem;

    --color-white-dark: #F2F2F2;
    --color-gray: #CDCDCD;
    --color-accent: #35CA37;
    --color-black: #0B0B0B;
    --color-white: #fff;

    --ff: Dela Gothic One, sans-serif;
}

/* normalize
=====================*/

*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
html{-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;-moz-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bold}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:0.1rem dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* basic
=====================*/

html,
body {
    height: 100%;
}

html {
    font-size: 1px;
}

body {
    font-style: normal;
    background: var(--color-white);
    font-weight: normal;
    font-size: var(--fs-default);
    line-height: 1.6;
    font-family: 'EuclidSquare', sans-serif;
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  height: 12px;
  width: 10rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #808080;
  width: 10rem;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  width: 10rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  width: 10rem;
}

a {
    color: var(--black, #000);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: inherit;
    font-family: EuclidSquare;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
}

input,
button,
select,
textarea,
.btn {
    font-weight: normal;
    font-family: 'EuclidSquare', sans-serif;
    color: inherit;
}

input,
button {
    margin: 0;
    padding: 0;
    appearance: none;
}

svg,
.u-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    color: inherit;
}

picture,
time {
    display: block;
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

/* typography
=====================*/

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.title-size-1,
.title-size-2,
.title-size-3,
.title-size-4,
.title-size-5,
.title-size-6 {
    font-family: 'EuclidSquare', sans-serif;
    margin: 0;
    font-weight: normal;
    color: var(--color-black);
}

h1,
.title-size-1 {
    font-size: var(--fs-1);
    line-height: 112.3%;
}

h2,
.title-size-2 {
    font-size: var(--fs-2);
    line-height: 1.4;
}

h3,
.title-size-3 {
    font-size: var(--fs-3);
}

h4,
.title-size-4 {
    font-size: var(--fs-4);
}

h5,
.title-size-5 {
    font-size: var(--fs-5);
}

h6,
.title-size-6 {
    font-size: var(--fs-6);
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    width: 1px!important;
    height: 1px!important;
    margin: -1px!important;
    padding: 0!important;
    position: absolute!important;
    border: 0!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    overflow: hidden!important;
}

/* row
=====================*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0  var(--offset-);
}

.row__col {
    min-height: 1px;
    padding: 0 var(--offset);
}

.row__col--3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.row__col--4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.row__col--5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}

.row__col--6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.row__col--7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
}

.row__col--8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}

.row__col--9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.row__col--10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
}

.row__col--11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
}

.row__col--12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* components
=====================*/

#site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.site__main {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1440rem;
    margin: 0 auto;
    padding: 0 var(--gap);
}

.logo {
    display: block;
    z-index: 1000;
    position: relative;
    height: 25rem;
    width: 25rem;
    transition: all .4s;
}

.logo:hover {
    opacity: .7;
}

.logo__img--desctop {
}

.logo__img--mobile {
    display: none !important;
}

.logo__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.img-cover {
    position: relative;
    width: 100%;
}

.img-cover > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    display: block;
    margin: 0;
    padding: 0;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    position: relative;
}

.nav__item:not(:last-child) {
    margin-right: 64rem;
}

.nav__link {
    display: inline-block;
    font-size: var(--fs-7);
    color: var(--color-black);
    font-family: inherit;
    position: relative;
    cursor: pointer;
    transition: color .4s;
}

.nav__link:after {
    content: '';
    position: absolute;
    top: -10rem;
    bottom: -10rem;
    right: -10rem;
    left: -10rem;
}

.btn {
    background-color: transparent;
    display: inline-block;
    padding: 16rem 32rem 15rem;
    border-radius: 100rem;
    line-height: 114.286%;
    font-size: var(--fs-7);
    transition: all .4s;
    outline: none;
    backdrop-filter: blur(10px);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn--theme_default {
    color: var(--color-white);
    background: var(--color-accent);
}

.btn--theme_default:hover {
    color: var(--color-black);
}

.btn--theme_black-share {
    padding: 20rem 198rem 20rem 28rem;
    border: 1rem solid;
    background-color: var(--color-white-dark);
    border-color: var(--color-gray);
}

.btn--theme_black-share:hover:after {
    transform: translateY(0%);
    top: 0;
    right: 0;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    border-radius: 80rem;
}

.btn--theme_black-share:hover {
    border-color: transparent;
}

.btn--theme_black-share:hover .btn__title {
    color: var(--color-white);
}

.btn--theme_black-share:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 48rem;
    height: 48rem;
    right: 8px;
    z-index: -1;
    background-color: var(--color-black);
    border-radius: 50%;
    transition: all .4s;
}

.btn__inner {
    display: flex;
    align-items: center;
}

.btn__title {
    font-size: var(--fs-default);
    color: var(--color-black);
    line-height: 1.5;
    letter-spacing: -0.32px;
    position: relative;
    z-index: 2;
}

.btn__icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 26rem;
    width: 10rem;
    height: 8rem;
    fill: var(--color-white);
    z-index: 3;
}

.paralax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.paralax__picture {}

.paralax__picture--bg {
}

.paralax__bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateZ(0);
  object-fit: cover;
}

.paralax__bg-img--one {
  z-index: 1;
}

.paralax__bg-img--two {
  z-index: 2;
}

.slider-control {
    display: flex;
    align-items: center;
}

.slider-control__wrap {
    display: flex;
    align-items: center;
    margin-right: 25rem;
}

.slider-control__wrap .slider-btn:not(:last-child) {
    margin-right: 5rem;
}

.slick-arrow {

}

.slider-btn {
    background-color: var(--color-white-dark);
    border: 1rem solid var(--color-gray);
    width: 48rem;
    height: 48rem;
    position: relative;
    outline: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
    position: relative;
    transition: all .4s;
    backdrop-filter: blur(10px);
}

.slider-btn:hover {
    border-color: transparent;
}

.slider-btn:hover:after {
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    height: calc(100% + 2rem);
    width: calc(100% + 2rem);
    background-color: var(--color-black);
}

.slider-btn:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    transition: all .4s;
    border-radius: 50%;
    z-index: -1;
}

.slider-btn:hover .slider-btn__icon {
    fill: var(--color-white);
}

.slick-prev {

}

.slider-control__btn {

}

.slider-btn__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.slider-btn__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 8rem;
    transform: translate(-50%, -50%) rotate(0);
    fill: var(--color-black);
    z-index: 2;
    transition: all .4s;
}

.slick-prev .slider-btn__icon {
    transform: translate(-50%, -50%) rotate(180deg);
}

.slick-next {

}

.js-intro-slider-dots {

}

.slider-dots {

}

.slider-control__dots {

}

.slick-slider {
    overflow: hidden;
}

.slick-slider .slick-track {
    display: flex;
    min-height: 1;
    margin: 0 -10rem;
}

.slick-slide {
    padding: 0 10rem;
}

.card {
    padding: 24rem 24rem 24rem 40rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 446rem;
    overflow: hidden;
    border-radius: 12rem;
    z-index: 0;
}

.card:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 136rem;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(11, 11, 11, 0.00) 0%, #0B0B0B 99.19%);
}

.slick-slider__card {}

.card__picture {}

.card__img {}

.card__title {
    color: var(--color-white);
}

.card__subtitle {
    color: var(--color-white-dark);
    opacity: .6;
}

.picture-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.picture-cover > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  background-color: #999;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li:not(:last-child) {
    margin-right: 2rem;
}

li.slick-active {
  background-color: var(--color-black);
}

/* header
=====================*/

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10rem 0;
    background-color: var(--color-white);
    z-index: 100;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {}

.header__nav {}

.header__btn {}


/* intro-section
=====================*/

.intro-section {
    padding: 26rem 0 611rem;
    position: relative;
    overflow: hidden;
}

.intro-section__container {}

.intro-section__picture {
    height: 265rem;
    margin-bottom: 24rem;
}

.intro-section__img {
    object-fit: contain;
}

.intro-section__row {
    justify-content: space-between;
    margin-bottom: 50rem;
}

.intro-section__col {}

.intro-section__title {
    font-size: var(--fs-2);
    line-height: 1.25;
    letter-spacing: -1.92rem;
}

.intro-section__text {
    margin: 0;
    padding: 0;
    font-size: 16rem;
    line-height: 1.5;
    letter-spacing: -.32rem;
}

.intro-section__btn {}

.intro-section__paralax {}

/* automated-section
=====================*/

.automated-section {
    padding: 164rem 0 114rem;
}

.automated-section__container {}

.automated-section__row {}

.automated-section__col {}

.automated-section__content {

}

.automated-section__title {
    font-size: var(--fs-2);
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -1.92rem;
}

.js-intro-slider-control {}

.automated-section__slider-control {
    margin-top: 277rem;
}
